<script setup></script>
<template>
  <div>
    <v-btn v-if="!showForm" @click="toggleEditStudent">Novo aluno</v-btn>
    <v-card v-if="showForm">
      <v-card-item>
        <v-text-field label="Nome" v-model="newStudent.nome"></v-text-field>
        <v-text-field
          label="Matrícula"
          v-model="newStudent.matricula"
        ></v-text-field>
        <v-text-field
          label="Hobbies"
          v-model="newStudent.hobbies"
        ></v-text-field>
      </v-card-item>
      <v-card-actions>
        <v-btn class="createButton" @click="addStudent">Criar</v-btn>
        <v-btn class="cancelButton" @click="toggleEditStudent">Cancelar</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { createStudent } from "@/services/students.js";
import StudentCard from "./StudentCard.vue";
export default {
  data() {
    return {
      showForm: false,
      newStudent: {
        nome: "",
        matricula: "",
        hobbies: "",
      },
    };
  },

  methods: {
    toggleEditStudent() {
      this.showForm = !this.showForm;
    },
    async addStudent() {
      try {
        await createStudent(this.newStudent);
        this.showForm = false;
        this.$emit("refreshStudents");
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>
