<script setup></script>

<template>
  <v-card v-if="!editMode">
    <v-card-item>
      <div>
        <v-card-title
          >{{ student?.nome }} - {{ student?.matricula }}</v-card-title
        >
        <v-card-subtitle>{{ student?.situacaoMatricula.nome }}</v-card-subtitle>
        <v-card-subtitle>Meus hobbies</v-card-subtitle>
        <v-card-text>{{ student?.hobbies }}</v-card-text>
      </div>
    </v-card-item>
    <v-card-actions>
      <v-btn class="editButton" @click="toggleEditStudent">Editar</v-btn>
      <v-btn class="deleteButton" @click="deleteStudent">Deletar</v-btn>
      <v-btn
        v-if="
          student.situacaoMatricula.nome !== 'Cancelado' &&
          student.situacaoMatricula.nome !== 'Formado'
        "
        class="cancelButton"
        @click="cancelRegistration"
        >Cancelar</v-btn
      >
    </v-card-actions>
  </v-card>

  <v-card v-if="editMode">
    <v-card-item>
      <v-text-field v-model="updatedStudent.nome"></v-text-field>
      <v-text-field v-model="updatedStudent.matricula"></v-text-field>
      <v-text-field v-model="updatedStudent.hobbies"></v-text-field>
    </v-card-item>
    <v-card-actions>
      <v-btn class="editButton" @click="saveStundent">Salvar</v-btn>
      <v-btn class="cancelButton" @click="toggleEditStudent">Cancelar</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import {
  deleteStudentByMatricula,
  updateStudentByMatricula,
  cancelarMatricula,
} from "@/services/students.js";

export default {
  data() {
    return { editMode: false };
  },
  props: {
    student: {
      type: Object,
      required: true,
    },
  },
  computed: {
    updatedStudent: {
      get() {
        return this.$props.student;
      },
      set(student) {
        this.$props.student = student;
      },
    },
  },
  methods: {
    toggleEditStudent() {
      this.editMode = !this.editMode;
      if (this.editMode) {
        this.studentOld = { ...this.student };
      }
    },
    async saveStundent() {
      try {
        await updateStudentByMatricula(
          this.studentOld.matricula,
          this.updatedStudent
        );
        this.$emit("refreshStudents");
        this.toggleEditStudent();
      } catch (error) {
        alert(error);
      }
    },
    async deleteStudent() {
      await deleteStudentByMatricula(this.student.matricula);
      this.$emit("refreshStudents");
    },
    async cancelRegistration() {
      try {
        await cancelarMatricula(this.student.matricula);
        this.$emit("refreshStudents");
      } catch (error) {
        alert(error);
      }
    },
  },
};
</script>

<style scoped>
.v-card {
  min-width: 344px;
}
</style>
