<template>
  <header>
    <img
      alt="Vue logo"
      class="logo"
      src="./assets/logo.png"
      width="125"
      height="125"
    />

    <div class="wrapper">
      <HelloWorld msg="Você conseguiu!" />
    </div>
    <NewStudent @refreshStudents="getStudents" />
  </header>

  <main class="cardContainer">
    <v-container>
      <v-row align="center" justify="center">
        <v-col v-for="(student, i) in students" :key="i" c>
          <StudentCard :student="student" @refreshStudents="getStudents" />
        </v-col>
      </v-row>
    </v-container>
  </main>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import StudentCard from "@/components/StudentCard.vue";
import NewStudent from "./components/NewStudent.vue";
import { getAllStudents } from "@/services/students.js";

export default {
  components: {
    StudentCard,
    HelloWorld,
    NewStudent,
  },
  data() {
    return { students: [] };
  },
  created() {
    this.getStudents();
  },
  methods: {
    async getStudents() {
      const students = await getAllStudents();
      this.students = students;
    },
  },
};
</script>

<style scoped>
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  .cardContainer {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
</style>
